.floating-lines-container {
    position: fixed;
    /* Reste en place lors du scroll */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Se place derrière tout le contenu */
    overflow: hidden;
    /* Fond noir pour que les vagues ressortent */
    pointer-events: all;
}

.floating-lines-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}