@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.cormorant-garamond {
    font-family: 'Cormorant Garamond', serif;
}

.playfair-display {
    font-family: 'Playfair Display', serif;
}

.hero-title {
    font-size: clamp(2rem, 5vw, 7rem);
    /* dépend de la largeur de l'écran */
    font-weight: 900;
    line-height: 0.9;
    
}

.outline-text {
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0;
}

.splitComp1 {
    text-align: center;
    font-size: clamp(2rem, 6vw, 7rem);
    will-change: transform;
    color: #ec4899;
}